---
let { class: className, ratio = 1, max } = Astro.props;
max = max ? `${max}px` : 'auto';
---
<div class={"frame gradient " + className} style=`--aspect-ratio: ${ratio}; --mh: ${max};`>
    <div class="frame inner" style=`--aspect-ratio: ${ratio}; --mh: ${max};`>
        <slot />
    </div>
</div>

<style>
:where(.frame) {
    aspect-ratio: var(--aspect-ratio);
    width: 100%;
    max-height: var(--mh);
    display: flex;
    align-items: center;
    justify-content: center;
}
:where(.frame.inner) {
    width: calc(100% - (var(--gap) * 2));
    height: calc(100% - (var(--gap) * 2));
    background: linear-gradient(to top, var(--off-white), var(--sage));
}
</style>
